pkgbase = branchbay-beta-bin
	pkgdesc = Native Git client
	pkgver = 1.0.0_beta.2
	pkgrel = 1
	url = https://branchbay.dev
	arch = x86_64
	arch = aarch64
	license = LicenseRef-Proprietary
	depends = gcc-libs
	depends = libxcb
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = zlib
	optdepends = vulkan-icd-loader: GPU rendering
	optdepends = wayland: Wayland sessions
	provides = branchbay
	conflicts = branchbay
	conflicts = branchbay-bin
	conflicts = branchbay-beta-bin
	source_x86_64 = branch-bay-1.0.0-beta.2-linux-x86_64.tar.gz::https://releases.branchbay.dev/releases/1.0.0-beta.2/branch-bay-1.0.0-beta.2-linux-x86_64.tar.gz
	sha256sums_x86_64 = 9c0d40bd423eacf5d89380f2d3f7d128411f6db5307ad77798eb797a9f5872bf
	source_aarch64 = branch-bay-1.0.0-beta.2-linux-aarch64.tar.gz::https://releases.branchbay.dev/releases/1.0.0-beta.2/branch-bay-1.0.0-beta.2-linux-aarch64.tar.gz
	sha256sums_aarch64 = 33b77ebfaad33d4d44a094f026bc00d12ca2d32d7788b0ff536dc372671fabc2

pkgname = branchbay-beta-bin
